/**
 * Header
 */
 
.header {
    padding-top: 20px;
    padding-bottom: 10px;
    
    .header-customer {
        text-transform: uppercase;
        font-size: 0.87em;
        padding-top: 7px;
    }
}
