{# Recurso para mostrar o quanto o comprador esta tendo de desconto no outlet na showcase de produtos #}
{# Lingugaem: Twig/HTML, aplicado ao TrayOpencode #}

{% if not product.has_other_prices %}

    {% if promotion %}
    <div class="setby">
        {% set price        = product.price %}
        {% set price_offer  = product.price_offer %}
        
        {% set res_price   = price - price_offer %}
        {% set setby       = res_price / price * 100 %}
        {% if setby >= 1 %}
        <span class="format-number">-{{ setby|number_format }}%</span>
        {% endif %}
    </div>
    {% endif %}
    
{% endif %}
