// fonts
$main = 'Roboto', sans-serif // principal
$sec = 'Roboto Condensed', sans-serif // secundaria
$bit = 'Roboto', sans-serif // pouco usada [ou terceira mais usada], mas mais usada que a less
$less = 'Roboto', sans-serif // a menos usada em todo o layout

// Variables
bar-dp = #f6f6fb // cor do menu de departamento equivale a cor secundaria
alter-identity = #e77924 // cor baseada na identidade visual alternativa
alter-color = #7d7d7d // cor alternativa a identidade visual e secundaria
sec-color = #f6f6fb // cor secundaria 
identity = #292c79 // cor baseada na identidade visual da empresa
sub-color = #939598 // cor subnivel departament
short-title = #aaa // cor subnivel departament
foot-color = #96989a // cor links de navegacao footer ou bottom


// Product 
//abas product
$aba-color = #f6f6fb
text-color = #bebebe

// info -- product details
info-color = #b3b3b3

// filter sidebar -- sidebar layout 
filter-color = #939598

// cash -- checkout [cart]
text-cash-color = #bcbdbe
alter-cash-color = #b1b1b1

// central -- loged customer
text-central-color =  #666
alter-central-color  = #d7d7d7

// suggestion
text-sug-color = #acadaf
alter-sug-color = #c2c2c2

// buttons
buy = #3ab75c

// dimensions
viewport = 1900
root = 16
