//***** compare ***/
.filter-checkbox {
    border: 1px solid #aaa;
    border-radius: 2px;
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    width: 14px;
}

.checked:before {
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    content: '';
    height: 5px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
