.method {
    > div {
        display: inline-block;
        vertical-align: top;
        margin: 2px 0;

        h5 {
            text-indent: -9999em;
        }
    }
    .item-method {
        position: relative;
        @include transition();

        &:hover {
            &:before, &:after {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            content: attr(data-method);

            background: #c90008;
            border-radius: 20px;
            color: #f1f1f1;
            font-family: Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 400;
            text-shadow: -1px -1px #111;
            white-space: nowrap;

            padding: 4px 19px;
            min-width: 60px;

            position: absolute;
            left: 0;
            bottom: -28px;
            z-index: 9999;

            opacity: 0;
            visibility: hidden;

            @include transition();
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: top;

            border-bottom: 7px solid #c90008;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;

            position: absolute;
            top: 86%;
            left: 50%;

            opacity: 0;
            visibility: hidden;

            @include center-h();
            @include transition();
        }
    } // item-method

    .traycheckout {
        background: url('vector/payment.svg') no-repeat 0 0;
        width: 49px;
        height: 39px;
    }
    .paypal {
        background: url('vector/payment.svg') no-repeat -51px 0;
        width: 50px;
        height: 39px;
    }
    .visa {
        background: url('vector/payment.svg') no-repeat -103px 0;
        width: 49px;
        height: 39px;
    }
    .master {
        background: url('vector/payment.svg') no-repeat -154px 0;
        width: 50px;
        height: 39px;
    }
    .amex {
        background: url('vector/payment.svg') no-repeat -206px 0;
        width: 49px;
        height: 39px;
    }
    .diners {
        background: url('vector/payment.svg') no-repeat 0 -43px;
        width: 49px;
        height: 39px;
    }
    .elo {
        background: url('vector/payment.svg') no-repeat -51px -43px;
        width: 50px;
        height: 39px;
    }
    .aura {
        background: url('vector/payment.svg') no-repeat -103px -43px;
        width: 49px;
        height: 39px;
    }
    .itau {
        background: url('vector/payment.svg') no-repeat -154px -43px;
        width: 50px;
        height: 39px;
    }
    .bradesco {
        background: url('vector/payment.svg') no-repeat -206px -43px;
        width: 49px;
        height: 39px;
    }
    .bb {
        background: url('vector/payment.svg') no-repeat 0 -86px;
        width: 49px;
        height: 39px;
    }
    .boleto {
        background: url('vector/payment.svg') no-repeat -51px -86px;
        width: 50px;
        height: 39px;
    }
} // method
