{#
# Este breadcrumb exibe a página em que o usúario se encontra,
# mesmo estando no primeiro ní­vel da categoria o caminho será exibido.
# elements/snippets/breadcrumb.html
#}

<div class="breadcrumb">
  <span class="breadcrumb-text">
    Você está em:
  </span>
  <span class="breadcrumb-item"><a href="/">Página inicial</a></span>
  <span class="icon-breadcrumb">&gt</span>
  {% if breadcrumb %}
    {% for item in breadcrumb %}
      <span class="breadcrumb-item"><a href="{{ item.link}}" title="{{ item.name }}">{{ item.name }}</a></span>
      <span class="icon-breadcrumb">&gt</span>
    {% endfor %}
    <span class="breadcrumb-item">{{ pages.current == 'product' ? product.name : category.name }}</span>
  {% endif %}
</div>