{% if products|length > 0 %}

    {% if showcaseTitle %}
        <div class="showcase">
            <h4 class="showcase-title">{{ showcaseTitle }} </h4>
        </div>
    {% endif %}

    <div class="row">
        {% for product in products %}

            <div class="col-sm-4 product">
                {% element 'snippets/product' {"product": product} %}
            </div>

            {% if loop.index is divisible by(3) %}
                </div><div class="row">
            {% endif %}

        {% endfor %}
    </div>

{% endif %}
