{% if banner.title %}

    <div class="banner banner-title">
        {{ banner.title }}
    </div>

{% endif %}

{% if breadcrumb %}

    <div class="vspace-sm">
        {% element 'snippets/breadcrumb' %}
    </div>

{% endif %}

<h1>{{ category.name }}</h1>

{% if products|length > 0 %}

    <div class="vspace-sm">
        {% element 'snippets/filter' {
            'brands': category.brands
        } %}
    </div>

    <div class="vspace-sm">
        {% element 'snippets/pagination' %}
    </div>

    <div class="vspace-sm">
        {% element 'snippets/showcase' {
            "products": products
        } %}
    </div>

    <div class="vspace-sm">
        {% element 'snippets/pagination' %}
    </div>

{% else %}

    <p>Nenhum produto encontrado nessa categoria.</p>

{% endif %}
