//DEVICES
    
    @media screen and (max-width: 50em) {
        .comparator ul li ul li {
            border: 0;
        }
        .comparator {
            ul {
                .displayMarca {
                    display: none;
                }
                
                .displayDescricao {
                    @include t(quebrar);
                    width: 320px;
                    margin: 0; padding: 0;
                }
                
                > li {
                    width: 42%;
                    border-bottom: 1px solid $identity;
                    margin: 0 24px 0;
                }
            }
        } // comparator
    }
    
    @media screen and (max-width: 44em) {
        .comparator {
            ul {
                
                .displayDescricao {
                    @include t(quebrar);
                    width: 290px;
                }
                
                .comparsionFoto {
                    width: 220px;
                }
                
            } // ul
            
        } // comparator
    }
    
    @media screen and (max-width: 40em) {
        .container {
            width: 98%;    
        }
        
        .comparator {
            ul {
                display: block;
                width: 99%;
                
                .displayMarca {
                    display: none;
                }
                
                .displayDescricao {
                    @include t(quebrar);
                    width: 320px;
                }
                
                li {
                    width: 99%;
                    margin: 0 auto 0;
                }
                
            } // ul
            
        } // comparator
        
    } // media devices - smartphones
    
    
    
    @media screen and (max-width: 20em) {
        .comparator {
            ul {
               li {
                    width: 99%;
                    margin: 0 auto 0;
                    max-width: 260px;
                }
                
            } // ul
            
        } // comparator
    } // media devices - iphones 4, 5 e SE
